<world xmlns:xacro="http://wiki.ros.org/xacro">
    <xacro:macro name="defineGround">
        <state world_name='default'>
            <model name='ground_plane'>
                <pose>0 0 0 0 -0 0</pose>
                <scale>1 1 1</scale>
                <link name='link'>
                    <pose>0 0 0 0 -0 0</pose>
                    <velocity>0 0 0 0 -0 0</velocity>
                    <acceleration>0 0 0 0 -0 0</acceleration>
                    <wrench>0 0 0 0 -0 0</wrench>
                </link>
            </model>
        </state>
        <model name='ground_plane'>
            <static>1</static>
            <link name='link'>
                <collision name='collision'>
                    <geometry>
                        <plane>
                            <normal>0 0 1</normal>
                            <size>100 100</size>
                        </plane>
                    </geometry>
                    <surface>
                        <contact>
                            <collide_bitmask>65535</collide_bitmask>
                            <ode/>
                        </contact>
                        <friction>
                            <ode>
                                <mu>100</mu>
                                <mu2>50</mu2>
                            </ode>
                            <torsional>
                                <ode/>
                            </torsional>
                        </friction>
                        <bounce/>
                    </surface>
                    <max_contacts>10</max_contacts>
                </collision>
                <visual name='visual'>
                    <cast_shadows>0</cast_shadows>
                    <geometry>
                        <plane>
                            <normal>0 0 1</normal>
                            <size>100 100</size>
                        </plane>
                    </geometry>
                    <material>
                        <script>
                            <uri>file://media/materials/scripts/gazebo.material</uri>
                            <name>Gazebo/Gray</name>
                        </script>
                    </material>
                </visual>
                <self_collide>0</self_collide>
                <enable_wind>0</enable_wind>
                <kinematic>0</kinematic>
            </link>
        </model>
    </xacro:macro>
</world>