<sdf version='1.7'>
    <world name='default' xmlns:xacro="http://wiki.ros.org/xacro">
        <!-- <xacro:include filename="./macros/math.xacro" /> -->
        <!-- <xacro:include filename="./macros/inertia.xacro" /> -->
        <xacro:include filename="agent.xacro" />
        <xacro:include filename="good.xacro" />
        <xacro:include filename="obstacle.xacro" />
        <xacro:include filename="wall.xacro" />
        <xacro:include filename="light.xacro" />
        <xacro:include filename="ground_plane.xacro" />
        <xacro:property name="PI" value="3.1415926535897932384626433832795" />

        <gravity>0 0 -9.8</gravity>
        <magnetic_field>6e-06 2.3e-05 -4.2e-05</magnetic_field>
        <atmosphere type='adiabatic'/>
        <physics type='ode'>
            <max_step_size>0.001</max_step_size>
            <real_time_factor>1</real_time_factor>
            <real_time_update_rate>1000</real_time_update_rate>
        </physics>
        <scene>
            <ambient>0.4 0.4 0.4 1</ambient>
            <background>0.7 0.7 0.7 1</background>
            <shadows>1</shadows>
        </scene>
        <wind/>
        <spherical_coordinates>
            <surface_model>EARTH_WGS84</surface_model>
            <latitude_deg>0</latitude_deg>
            <longitude_deg>0</longitude_deg>
            <elevation>0</elevation>
            <heading_deg>0</heading_deg>
        </spherical_coordinates>
        <gui fullscreen='0'>
            <camera name='user_camera'>
                <pose>2.22523 -0.794145 7.51233 0 1.28926 1.81302</pose>
                <view_controller>orbit</view_controller>
                <projection_type>perspective</projection_type>
            </camera>
            <grid>
                <cell_size>0.5 0.5</cell_size>
                <cell_count>20 20</cell_count>
            </grid>
        </gui>
        <xacro:defineLight />
        <xacro:defineGround />

        <xacro:putWall name="wall10_0" x="0" y="5.5" yaw="0" l="10" w="1" h="1" />
        <xacro:putWall name="wall10_1" x="0" y="-5.5" yaw="0" l="10" w="1" h="1" />
        <xacro:putWall name="wall12_2" x="5.5" y="0" yaw="${PI / 2}" l="12" w="1" h="1" />
        <xacro:putWall name="wall12_3" x="-5.5" y="0" yaw="${PI / 2}" l="12" w="1" h="1" />

        <xacro:putAgent name="agent_0" x="0" y="0" yaw="0" />

        <!-- <xacro:putGood name="good_0" x="0" y="5" yaw="0" /> -->
        <xacro:putGood name="good_0" x="-0.25" y="-3.75" yaw="0" />
        <xacro:putGood name="good_1" x="-0.25" y="-4.25" yaw="0" />

        <xacro:putObstacle name="obstacle_0" x="-4.75" y="0.25" yaw="0" />
        <xacro:putObstacle name="obstacle_1" x="-4.25" y="0.25" yaw="0" />
        <xacro:putObstacle name="obstacle_2" x="-3.75" y="0.25" yaw="0" />
        <xacro:putObstacle name="obstacle_3" x="-3.25" y="0.25" yaw="0" />
        <xacro:putObstacle name="obstacle_4" x="-2.75" y="0.25" yaw="0" />
        <xacro:putObstacle name="obstacle_5" x="-2.75" y="-0.25" yaw="0" />
        <xacro:putObstacle name="obstacle_6" x="-2.25" y="-0.25" yaw="0" />
        <xacro:putObstacle name="obstacle_7" x="-2.25" y="-0.75" yaw="0" />
        <xacro:putObstacle name="obstacle_8" x="-1.75" y="-0.75" yaw="0" />
        <xacro:putObstacle name="obstacle_9" x="-1.75" y="-1.25" yaw="0" />
        <xacro:putObstacle name="obstacle_10" x="-1.75" y="-1.75" yaw="0" />
        <xacro:putObstacle name="obstacle_11" x="-1.75" y="-2.25" yaw="0" />
        <xacro:putObstacle name="obstacle_12" x="-1.75" y="-2.75" yaw="0" />
        <xacro:putObstacle name="obstacle_13" x="-1.25" y="-2.75" yaw="0" />
        <xacro:putObstacle name="obstacle_14" x="-0.75" y="-2.75" yaw="0" />
        <xacro:putObstacle name="obstacle_15" x="-0.25" y="-2.75" yaw="0" />
        <xacro:putObstacle name="obstacle_16" x="-0.25" y="-3.25" yaw="0" />
        <xacro:putObstacle name="obstacle_17" x="-0.25" y="-4.75" yaw="0" />


        <plugin name="agent_action" filename="libgazebo_ros_agentaction.so" />
        <plugin name="model_states" filename="libgazebo_ros_modelstate.so" />
    </world>
</sdf>
